*.pyo
*.pyc
phosbot

*.so
*.dylib
*.a

# vim
*.un~
*.swp

# cmake stuff
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
cxx/CMakeFiles/
cxx/Makefile
cxx/cmake_install.cmake

# sensitive information
config.py
